
<p3>
   都道府県を選んでください
</p3>
<br>
<p1>
  <ul>
  <li><%= link_to '福岡県', books_new1_path %></li>
  
  <br>
  <li><%= link_to '大阪府', new_book_path %></li>
<br>  
<li><%= link_to '東京都', new_book_path %></li>
</ul>
</p1>
