<p3>
    観光地を選択してください
</p3>
<br>
<p1>
  <ul>
  <li><%= link_to '大宰府', books_newa_path %></li>
  
  <br>
  <li><%= link_to 'PayPayドーム', books_newb_path %></li>
<br>  
<li><%= link_to '門司港', books_newc_path %></li>
</ul>
</p1>