<div class="sentaku"> 
<h1>
    観光地を選択してください
</h1>
</div>
<br>
<p1>
  <ul>
  <li><%= link_to 'グランフロント大阪', books_newA_path %></li>
  
  <br>
  <li><%= link_to '大阪城', books_newB_path %></li>
<br>  
<li><%= link_to '道頓堀', books_newC_path %></li>
</ul>
</p1>