<div class="sentaku"> 
<h1>
    観光地を選択してください
</h1>
</div>
<br>
<p1>
  <ul>
  <li><%= link_to '浅草', books_newd_path %></li>
  
  <br>
  <li><%= link_to '東京スカイツリー', books_newe_path %></li>
<br>  
<li><%= link_to 'お台場', books_newf_path %></li>
</ul>
</p1>