<div class="sentaku"> 
<h1>
   駐車場を選んでください
</h1>
</div>
<br>
<p1>
  <ul>
  <li><%= link_to 'タイムズ大宰府前', reservationcs_path %></li>24時間500円 大宰府まで約5分<br>
  
  <br>
  <li><%= link_to '大宰府パーキング', reservationcs_path %>   </li>24時間400円 大宰府まで約10分<br>
<br>  
<li><%= link_to 'セイワパーク大宰府', reservationcs_path %>   </li>24時間300円 大宰府まで約15分
</ul>
</p1>