<div class="sentaku"> 
<h1>
   駐車場を選んでください
</h1>
</div>
<br>
<p1>
  <ul>
  <li><%= link_to 'D-parking 森ノ宮駐車場', reservationcs_path %></li>24時間500円 大阪城まで約5分<br>
  
  <br>
  <li><%= link_to 'ＯＭＭビル駐車場', reservationcs_path %>   </li>24時間400円 大阪城まで約10分<br>
<br>  
<li><%= link_to 'D-parking 大阪城公園前駐車場', reservationcs_path %>   </li>24時間300円 大阪城まで約15分
</ul>
</p1>