<div class="sentaku"> 
<h1>
   駐車場を選んでください
</h1>
</div>
<br>
<p1>
  <ul>
  <li><%= link_to 'タイムズ道頓堀１丁目', reservationcs_path %></li>24時間500円 道頓堀まで約5分<br>
  
  <br>
  <li><%= link_to 'タイムズ道頓堀なんば', reservationcs_path %>   </li>24時間400円 道頓堀まで約10分<br>
<br>  
<li><%= link_to 'パークステージ西道頓堀', reservationcs_path %>   </li>24時間300円 道頓堀まで約15分
</ul>
</p1>