<div class="sentaku"> 
<h1>
   駐車場を選んでください
</h1>
</div>
<br>
<p1>
  <ul>
  <li><%= link_to 'akippa|浅草５丁目農原邸', reservationcs_path %></li>24時間500円 浅草まで約5分<br>
  
  <br>
  <li><%= link_to '三井のリパーク 浅草３丁目第４駐車場', reservationcs_path %>   </li>24時間400円 浅草まで約10分<br>
<br>  
<li><%= link_to '三井のリパーク 浅草１丁目第３駐車場', reservationcs_path %>   </li>24時間300円 浅草まで約15分
</ul>
</p1>