<div class="sentaku"> 
<h1>
   駐車場を選んでください
</h1>
</div>
<br>
<p1>
  <ul>
  <li><%= link_to 'MMパークビル　月極駐車場', reservationcs_path %></li>24時間500円　お台場まで約5分<br>
  
  <br>
  <li><%= link_to 'アクアシティお台場　駐車場', reservationcs_path %>   </li>24時間400円 お台場まで約10分<br>
<br>  
<li><%= link_to 'タイムズ　デックス東京ビーチ', reservationcs_path %>   </li>24時間300円 お台場まで約15分
</ul>
</p1>